#__id__.trim--s .blurb {
  font-size: 0.133in;
}

#__id__.trim--s .title-wrap h1 {
  line-height: 1.32em;
  margin-top: -29%;
}

#__id__.trim--s .title-wrap h2 {
  font-size: 0.32in;
  margin-top: -33%;
}
