#__id__ .blurb {
  font-size: 0.133in;
}

#__id__ .title-wrap h1 {
  line-height: 1.32em;
  margin-top: -29%;
}

#__id__ .title-wrap h2 {
  font-size: 0.32in;
  margin-top: -33%;
}

#__id__.trim--m .title-wrap h1 {
  line-height: 1.52em;
  margin-top: -20%;
}

#__id__.trim--m .title-wrap h2 {
  font-size: 0.38in;
  margin-top: -13%;
}

#__id__.trim--xl .title-wrap h1 {
  line-height: 1.52em;
  margin-top: -20%;
}

#__id__.trim--xl .title-wrap h2 {
  font-size: 0.38in;
  margin-top: -13%;
}
